# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/key
/config.js
/server/firebase/db_config.js
/server/check_send_loop/messageServiceKey.js
.DS_Store